body
{
  background-color: #F2F2F2;
  font-family: cambria;
}
#topheading{
  background-color: #402121;
  color: white;
}
.intro{
    height: 200px;
    width: 100%;
}
.indexlinks{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 100px;
}
img{
  float: left;
  height: 190px;
  width: 173px;
  margin: 10px;
}
#undername{
  font-size: 110%;
}
.links{
  background-color: #D9A3A3;
}
.div2{
  height: auto;
  text-align: center;
}
.edheading, .cheading, .hheading{
  background-color: #D9A3A3;
  text-align: center;
}
