body
{
  background-color: #F2F2F2;
  font-family: cambria;
}
#he1{
  background-color: #402121;
  color: white;
}
.div1{
    height: 200px;
    width: 100%;
}
.div2{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 100px;
}
img{
  float: left;
  height: 190px;
  width: 173px;
  margin: 10px;
}
#p1{
  font-size: 110%;
}
h2{
  background-color: #D9A3A3;
}
.div2{
  height: auto;
  text-align: center;
}
